@font-face { font-family: CoolFont; src: url("fonts/MS\ Sans\ Serif\ 8pt.ttf"); } 

* {
  font-family: CoolFont;
  padding: 0;
  margin: 0;
  text-shadow: 0.1px 0px rgb(185, 185, 185), 1px 0px rgb(185, 185, 185);
  color: transparent; letter-spacing: 1px;
  color: black;
}



header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;  
  text-align: center;
}

nav {
  width: 100%;
}

ul {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
} 

ul li {
  display: inline-block;
  background-color: #a0a0a4;
  /* width: 15%; */
  border: 0;
}
ul li:hover {
  background: rgb(197, 196, 196);
}

li a{
  text-decoration: none;
  display:flex;
  align-items: center;
  justify-content: center;  
  text-align: center;
  width:100%;
  /* padding: 5px; */
  flex: 1;
  font-weight: bold;
}
ul li {
  /* width:10%; */
  /* border: solid 3px rgb(83, 83, 83); */
  border: solid 2px rgb(15, 2, 192);
  padding: 0;
  margin: 0;
  display: flex;

}
li a:hover{
  color:rgb(238, 27, 203);
}
a img {
  padding:2px;
}

.app-container {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title-container {
  width: 100vh;
  /* margin-top: 300px; */
}



body, html {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(194,15,250,1) 0%, rgba(0,212,255,1) 100%);
}

 /* <!-- Testing --> */
 #post{
  background: #C0C0C0;
  margin: auto;
  width: 300px;
  height: auto;
  border-top: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
}

#pnav{
  margin: 2px 0px 0px 2px;
  background-color: #00007f;
  width: 98%;
  height: 16px;
  color: #FFFFFF;
  padding: 0px 0px 2px 2px;
}

.pbuttons{
  float: right;
  padding: 2px 2px 2px 0px;
}

#content{
  width: 97%;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 0%;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

#noter{
  margin: 0% 1% 1% 1%;
  width: auto;
  background: #C0C0C0;
  
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; 
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.notebox{  
  flex-grow: 1;
  margin: auto;
  width: auto;
  padding-left: 2px;
  padding-right: 0px;
  color: #000000;
  border-top: 1px solid #929292;
  border-left: 1px solid #929292;
  border-bottom: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}
/* Testing */