@font-face { font-family: CoolFont; src: url("fonts/MS\ Sans\ Serif\ 8pt.ttf"); } 

* {
  font-family: CoolFont;
  padding: 0;
  margin: 0;
  text-shadow: 0.1px 0px rgb(185, 185, 185), 1px 0px rgb(185, 185, 185);
  color: transparent; letter-spacing: 1px;
  color: black;
}


header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;  
  text-align: center;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;  
  text-align: center;
  list-style: none;
  background-color: rgb(2, 2, 71);
  border: solid 2px #808080;
  align-items: stretch;
  padding: 0; 
  margin: 0;
  border:0;
}
ul li {
  display: inline-block;
  background-color: #a0a0a4;
}
ul li:hover {
  background: rgb(197, 196, 196);
}

li a{
  text-decoration: none;
  display:flex;
  align-items: center;
  justify-content: center;  
  text-align: center;
  width:100%;
}
ul li {
  width:100%;
  border: solid 2px rgb(83, 83, 83);
  padding: 0;
  margin: 0;
  display: flex;

}
li a:hover{
  color:rgb(238, 27, 203);
}
a img {
  padding:2px;
}

.app-container {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title-container {
  width: 100vh;
  /* margin-top: 300px; */
}
.title-container marquee {
  background-color: white;
}


body, html {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(194,15,250,1) 0%, rgba(0,212,255,1) 100%);
}