<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Oldschool </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://unpkg.com/98.css" />
    <link rel="stylesheet" href="../styles/about.css"
  </head>

  <body>
    <!-- <header> -->
        <nav> 
          <div class="title-bar">
            <a class="home-button"> <img src="../assets/gif_windows_3.gif " width="30px"> </a> 
          <ul>
            <li> <button href="https://www.google.com" class="github-button"> <img src="../assets/gif_github.gif" width="20px"> <p id="rainbow-text"> Github </p> </button> </li>
            <li> <button href="https://www.google.com" class="spotify-button"> <img src="../assets/gif_music_1.gif" width="32px"> <p id="rainbow-text"> Spotify </p>  </button> </li>
            <li> <button href="https://www.google.com" class="cats-button"> <img src="../assets/gif_cat_4.gif" width="26px"> <p id="rainbow-text"> Cat </p>  </button> </li>
            <li> <button href="http://localhost:8000/views/snake.html" class="snake-button"> <img src="../assets/gif_snake_4.gif" width="36px"> <p id="rainbow-text"> Snake </p></button> </li>
            <li> <button href="http://localhost:8000/views/about.html" class="about-button"> <img src="../assets/gif_nice.gif" width="46px">  <p id="rainbow-text"> About </p>  </button> </li>
          </ul>
          <div class="title-bar-controls">
            <button aria-label="Close" class="close-button"></button>
          </div>
        </div>
        </nav>
        
    <!-- </header> -->

    <!-- Testing -->
    <div class="post-container"> 
    <div id="post">
      <div id="pnav">
        jpoezi
        <img class="pbuttons" src="https://31.media.tumblr.com/ecad6f31db9fc8bf8d14f2214dbe5a4b/tumblr_inline_naz3sihqg71sbfysw.png">
        <img class="pbuttons" src="https://media.tumblr.com/3c40921397a12ca56e9185b816e8e280/tumblr_inline_nb0y19IrNy1sbfysw.png">
        <img class="pbuttons" src="https://media.tumblr.com/74cab287d11e5d00036c09c75101a375/tumblr_inline_nb0y13nRs91sbfysw.png">
      </div>
      <img id="content" src="../assets/gif_cat_5.gif"
    />
      <div id="noter">
        <div class="notebox">666 note(s)</div>
        <div class="notebox">jpoezi's blog</div>
      </div>
      ( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget malesuada quam, eu lacinia ex. Maecenas convallis pellentesque diam. Quisque blandit mi sollicitudin aliquam ullamcorper. Vestibulum vel diam lacinia, vestibulum turpis sit amet, pulvinar nibh. Cras a scelerisque enim. Nunc vitae lectus vitae magna feugiat iaculis. Cras accumsan nisi nec augue pellentesque auctor. Nullam tristique mattis nulla, nec pretium felis. Phasellus purus risus, varius non sodales hendrerit, venenatis id nulla. Cras sed porttitor nisl. Integer dui enim, vestibulum eget tempor sit amet, pulvinar non nulla. Proin eu nisi vitae purus venenatis maximus id sed diam. Proin nec fermentum quam, euismod porta orci.

Morbi quis neque finibus, eleifend erat non, mattis tellus. Integer sagittis at risus ut posuere. Vivamus egestas odio sed aliquam tristique. Sed sit amet lectus sit amet velit efficitur malesuada. Nullam non risus ut felis fringilla sodales faucibus nec lorem. Proin sed fringilla est, eleifend gravida sapien. Nunc vulputate mauris id nunc dictum, ac vulputate tellus ullamcorper. Sed quis nisi est. Vestibulum nec congue justo. Proin imperdiet rhoncus dui. Fusce viverra ante semper, mattis nunc in, varius dui. Ut blandit arcu eget ipsum pharetra dictum id eu orci. Aliquam erat volutpat. Praesent enim leo, fermentum nec porta sit amet, finibus a neque. Donec auctor et enim a placerat. In ut semper magna.

Duis malesuada odio nec pharetra egestas. Aliquam vulputate ante tincidunt lacus euismod gravida. Phasellus pellentesque fringilla sapien eget dictum. Quisque sit amet velit eget ex interdum egestas id a tortor. In hac habitasse platea dictumst. Cras tincidunt ex accumsan commodo semper. Nullam risus ante, auctor ac porta at, vehicula eu orci. Morbi vitae vestibulum nunc, nec rutrum enim. Vivamus sit amet semper urna, eget tempor metus. Maecenas vel tellus ut ligula ultricies vestibulum. Ut tristique ligula augue, eget sagittis dui mollis sed.
    </div>
  </div>
    <!-- Testing -->

    <!-- Testing2  -->

    <!-- Testing2 -->

    <script src="../script.js" async defer></script>
  </body>
</html>